body{
  font-family: 'Quicksand', sans-serif !important;
   
  }

  h1, h2, h3, h4, h5, h6{
  	font-family: 'Libre Baskerville', serif;
    margin-bottom: 0;
  }

  

  a{
    color:white;
  }

  li.nav-item a{
  	
     border-bottom: 5px solid transparent; 
     border-top: 5px solid transparent; 
  }
  li.nav-item{
    margin:auto;
  }
  a:hover{
    color:white;
  }
  li.nav-item a.tekst:hover{
  	
    border-bottom: 5px solid white;
    
  }

  #trenutna{
    border-bottom: 5px solid white;
  }

  a:link{
  text-decoration:none;
  color:white;
  }
  
  .jumbotron{
  position:relative;
  	padding:0;
  }
  .container-fluid{
  	padding:0;
    
  }
  body{
  	background-image:url('./images/Background.jpg');
    color:white;
    
  }
  .col-sm-4{
  	margin:auto;
    padding:10px;
  }
  .statistics{
  	text-align:center;
    font-size: 23px;
    color:white;
  	background-color:#105F8B;
  }
  .naslov{
  position:relative;
  margin-left:40px;
  margin-top:50px;
  margin-bottom:50px;
  }

  .navbar{
    padding: 0rem 1rem;
  }

  .navbar-dark .navbar-nav .nav-link{
    color: white;
  }
  .navbar-dark .navbar-toggler{
    color: white;
    border-color: white;
  }
  
  #tekst{
    position:absolute; 
    color:white; 
    width:250px; 
    
    top:20%;  
    left:10%; 
    background-color:rgba(0,0,0,0.4);
  }
  #sredisnjiOkvir{
    border-right:2px black solid;
    border-left:2px black solid;
    
  }
  


 .navGrp1{
  width:100%; 
  max-width:45%; 
  
 }
 .navGrp2{
   width:100%; 
   max-width:20% ;
   min-width:45%; 
  

 }
 ul.navbar-nav{
  width:100%; 
  
  
 }
 

 a.nav-link{
    white-space: nowrap;
  }
  
 .btn-primary{
    background-color: black;
    border-color: black;
    white-space: nowrap;
 }
 .btn-primary:hover{
    background-color: rgb(219, 219, 219);
    color:black;
 }


 .fa-shopping-cart:hover{
    color:black;
 }
 i.fa.fa-shopping-cart.fa-lg{
    background: black;
 }
 i.fa.fa-shopping-cart.fa-lg:hover{
    background: white;
 }

 
 .row{
    margin-right: 0px;
    margin-left: 0px;
 }

 .carousel .carousel-control-prev-icon {
    
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-left-circle 2x" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg>');
    width:40px;
    height:40px;
    opacity:100%;
    }
    .carousel .carousel-control-next-icon {
    
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>');
    width:40px;
    height:40px;
    }
    
 .velikiNaslov{
    background-color: #D9D9D9;
    color:black;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top:40px;
    margin-bottom: 40px;
 }
 .card-body{
    background-color: black;
 }

 input[type=checkbox]{
  accent-color: black;
 }
 
nav.nasljednici *{
  padding-inline:5px;
  border-radius: 10px !important ; 
  color:black;
}

a.page-link{
  padding-inline:13px;
}

.page-item.active .page-link{
  background-color: #105F8B;
  border-color: #105F8B;
}

.dropdown-menu{
  background-color: #0A364E;
  color: white;
  border-radius: 10px;
  margin-top:0;
}
.dropdown-item{
  color: white;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

table{
  background-color: #105F8B;
}
th{
  background-color: black;
  text-align: center;
  padding-inline: 20px;
}
td{
  padding: 10px;
  padding-inline: 20px;
}
table td, th{
  border:solid black 2px;
  
}
table.druga tr,
table.druga th, 
table.druga td{
  border:0;
  text-align:center !important;
  margin:auto;
  padding:0;
  

}

table.prva tr:nth-child(even){
  background-color: #0A364E !important;
}
.table a{
  display:block;
  padding:100%;
  text-decoration: none;
}

.breadcrumb{
  margin-block:20px;
  background-color: black;

}

.linear{
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, rgb(16, 95, 139), rgba(16, 95, 139, 0.25) 55%, transparent 90% );
}

textarea::placeholder{
  color:#D9D9D9;
}

button.dodaj:hover{
  background-color: black !important;

}
button.dodaj:hover i.fa.fa-cart-plus.fa-2x{
  color:white !important;
}

.tablica3 tr, 
.tablica3 th, 
.tablica3 td{
  text-align: left;
  border:0;
  border-bottom: solid white 1px;
  padding-bottom: 20px;
  background-color: transparent !important;
}
.tablica4 tr, 
.tablica4 th, 
.tablica4 td{
  text-align: left;
  border:0;
  padding-bottom: 30px;
  background-color: transparent !important;
}

  @media only screen and (max-width: 900px) {
  #tekst {
    position:static;
    text-align: center;
    width:100%;
    max-width:100%; 
    margin:auto;
    background-color:black;
    }
  }
 @media (max-width: 576px){
  #sredisnjiOkvir{
    border-top:2px black solid;
    border-bottom: 2px black solid;
    border-right:none;
    border-left:none;
  }

  
 

  .naslov{
    text-align:center;
    left:0px;
  }

  .hide{
    display:none;
  }

}

@media (max-width: 768px){
  .col-sm-4{
    width:100%;
  }
}

  @media (max-width: 992px){
  div.d-flex{
    flex-direction:column;
    width:100%;
    max-width:100%;
    min-width:100%;
  }
  ul.navbar-nav{
    text-align: center;
    margin:0;
  }
  .navGrp2{
    padding-top:10px;
    padding-bottom:20px;
  }
  .nav-item{
    margin-block :5px;
  }
  .kosarica{
    margin-block:20px !important;
  }
  #kosarica{
    top:89% !important;
  }
  .jednako{
    min-height:312px !important;
  }
}

 @media (max-width: 715px){
  .forumIkona{
    max-width:100%;
    

  }
  .forumTekst{
    margin:auto;
    border-left: 0 !important;
    border-top: solid white 2px;
  
  }
 }
 @media (max-width: 920px){
  .placanjeIgre{
    max-width:100%;
    width:100%;
    flex: 0 0 100%;
  }
 }
 @media (max-width: 860px){
  .izdanjeIgre{
    flex: 0 0 100%;
    max-width: 90%;
    width:100%;
  }
 }
 